//colors
$purple: #591E9C;
$purple-normal: #82269e;
$purple-dark: #701f88;
$purple-light: #9c4fb4;

//Cor de Fundo
$black-fundo: #262828;

// Border Color
$gray-clean-border: #4d5252;

// Neutral-colors
$black-normal: #232324;
$black-dark: #131414;
$black-light: #474747;
$black-dark-nuture: #1c1c1c;
$black-dark-notur: #0c0c0c;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;