header{
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    transition: .5s ease;

    position: fixed;
    z-index: 800;
}

.active-header{
    background: rgba(28, 28, 28, 0.45);
    backdrop-filter: blur(19.5px);
}

// DESKTOP
.navbar-desktop{
    max-width: $container-xl;
    background: $black-dark;
    height: 75px;
    margin: 0px auto;
    position: relative;
    padding: 10px 24px 10px 211px;

    border-bottom: 2px solid $gray-clean-border; /* Borda superior é azul */
    border-right: 1px solid $gray-clean-border; /* Borda direita é vermelha */
    border-left: 1px solid $gray-clean-border;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-desktop-logo{
    position: fixed;
    cursor: pointer;
    z-index: 1100;
    left: 10px;
}

.navbar-desktop-item-1{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-desktop-item-2{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link-desktop{
    margin-left: 16px;
    display: inline-block;
    padding: 12px 16px;
}


///////////////////////  Side Menu - Menu Lateral Esquerdo  ///////////////////////
.nav-left-side-menu{ 
  height: 100vh;
  background-color: $black-dark;


  display: flex;
  justify-content: center;

    
  border: 1px solid $gray-clean-border;


  @include responsive(s){
    height: 50px;
    bottom: 0;
    align-items: center;
    padding-top: 0;
    width: 100%;
    position: fixed;
  }
}



.nav-list-left-side-menu{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    

    @include responsive(s){
        flex-direction: row;
    }
}

.nav-link-left-side-menu{
    display: inline-block;
    @include typeface-1(h3, desktop);
    position: relative;
    cursor: pointer;

    

    transition: transform 0.2s ease-in-out;

    p{
        display: none;
    }

    &:hover{
        transform: translateX(5px);

        p{
            display: flex;
            z-index: 1100;
            transform: translateX(5px);
        }
    }
    

    padding: 8px 24px 0 24px;
    @include responsive(s){
        padding: 8px 16px 0 16px;
    }

    

}


///////////////////////  Side Menu - Menu Lateral Direito  ///////////////////////

.right-side-menu {
    height: 100vh;
    max-width: 400px;
    width: 100%;
    
    transition: 0.7s ease;
    padding-top: 1rem;
    


    @include responsive(s){
      height: 50px;
      bottom: 0;
      align-items: center;
      padding-top: 0;
      width: 100%;
    }
}
 

.top-languages-right-side-menu{
    max-width: 360px;
    width: 100%;
    height: 360px;

    background: $black-normal;
    overflow: hidden;
    border-radius: 0.50rem;
    border: 1px solid $gray-clean-border;
    box-shadow: 5px 4px 10px 10px rgba(0,0,0,0.54);

    @include responsive(s){
        min-width: 280px;
    }

    .top-languages-head{
        width: 100%;
        border-bottom: 1px solid $gray-clean-border;
        
        
        padding: 1rem 0 0.75rem 1rem;
    }
 

    .top-languages-language-skill{
        width: 100%;
        height: 4rem;
        margin-top: 1rem;
        
        padding: 0.25rem 0.25rem 0.25rem 0.70rem;
        display: flex;
        flex-direction: row;
        
    
    
            .language-icon{
               max-width: 40px;
               height: 40px;
               border-radius: 60px;
               width: 100%; 
               border-radius: 4px;
            }
            .language-details{
                display: flex;
                margin-left: 0.30rem;
                padding-top: 0.15rem;
                flex-direction: column;
            }
    }

    button {
        max-width: 12rem;
        width: 100%;
        padding: 1rem;
    
    }

}

