.post-container{
    width: 650px;
    height: 650px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
   /* From https://css.glass */
   box-shadow: 5px 4px 20px 10px rgba(0.30,0,0,0.45);

   @include responsive(s){
    max-width: 820px;
    width: 100%;
   }
   
}

.overlayed {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900; /* Para garantir que esteja sobre os outros elementos */
}

.profile-top-post{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

img.profile-pic-img{
    border: 1px solid $black-dark;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.content-post{
    width: 100%;
    height: 450px;
    border-radius: 2px;
}

.post-interactions{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.post-like-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-like-comment{
    width: 40px;
    height: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease;

    & img:hover{
        transform: scale(1.1);
    }
}

.post-like-heart {
    width: 31px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    img{
        transition: transform 0.2s ease;   
    }
    & img:hover{
        transform: scale(1.1);
    }
}

.post-title-subject{
    display: flex;
    flex-direction: column;
}


// ================ Criar Post =============================

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .container-create-post {
    max-width: 600px;
    width: 100%;
    position: absolute;     
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    
    z-index: 1100;
  }

  #image-preview-container {
    max-width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #image-preview {
    width: 100%;
    max-height: 250px;
  }
  
.publish-button{
    padding: 10px;
    background: $purple-light;
    border: none;
    color: #EFEFEF;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover{
        padding: 12px;
    }
}

#close-create-post{
    background: none;
    border: none;
    max-width: 35px;
    cursor: pointer;
}

#description{
    border: 2px solid $purple-dark;
    background: $white-dark;
    outline: $purple-normal;
  border-radius: 5px;
  padding: 5px 0 0 10px;
  overflow: hidden;
  resize: none;
}
  
#image-upload{
    display: none;
}
.custom-file-input {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100px;
    width: 100%;
  }
  
  .custom-file-input:hover {
    background-color: $white-dark;
  }

.centralizar{
    max-width: 628px;
    height: 350px;
}







