// -- Header --
.container-profile{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    box-shadow: none;
    transition: .5s ease;
}

.imagem-fds{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: blue;
}

// -- Profile --
.container-profile-father{
    width: 100%;
    height: 100vh;
    z-index: 10;
    margin-top: 90px;

    display: flex;
    justify-content: center;
}

.container-profile-child{
    width: 100%;
    height: 100vh;
    max-width: 712px;
}

// -- Info da Conta --

.container-profile-user{
    width: 100%;
}

.container-profile-user-info{
    width: 100%;
    padding: 8px;

    display: flex;
}

.user-info-detalhes{
    width: 100%;
}

.user-detalhes-name-btn{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhes-btn{
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info-seguidores{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-seguidores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-profile{
    color: $white-dark;
}

.btn-detalhes{
    background: $white-normal;
    color: $black-fundo;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 7px;

    &:hover{
        opacity: 0.5;
    }
}

.public-title{
    width: 100%;

    display: flex;
    justify-content: center;
}

.title-profile{
    padding: 0px 5px;
    border-bottom: 2px solid $white-normal;
}

.container-profile-child-public{
    display: flex;
    flex-direction: column;
    align-items: center;
}