.container-timeline{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 28px 0 0 16px;
    overflow-y: auto;

    display: flex;

    
    @include responsive(s){
     padding: 48px 16px 0 16px;   
    }

    @include responsive(lu) {
        padding-left: 16px;
    }

    &::-webkit-scrollbar {
        width: 1px; /* Largura da barra de rolagem no Chrome/Safari */
      }
}

nav.nav-menu-timeline {
    width: 750px;
    
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* From https://css.glass */

    
    box-shadow: 3px 4px 8px 5px rgba(0.54,0,0,0.54);
    background: $smooth-dark;
    



    div.nav-menu-list-buttons{
        display: flex;
        flex-direction: row;        
    }
    div.nav-menu-button-container{
    
    
    }


    @include responsive(s){
     max-width: 820px;
     width: 100%;
    }
    
}

div.create-post-directly-container{
    width: 650px;
    
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: $smooth-dark;
    box-shadow: 5px 4px 10px 5px rgba(0, 0, 0, 0.54);
    

    
}

#description-directly{
    opacity: 2;
    background: $black-light;
    box-shadow: 3px 4px 17px 5px rgba(0.54,0,0,0.54);
    outline: $white-light;
    border-radius: 3px;
    display: flex;
    width: 90%;
    max-height: 60px;
    padding: 4px 0 10px 1%;
    overflow: hidden;
    resize: none;
    color: $white-dark;

    font-size: 14px;

    color: $white-dark;
    
    @include typeface-2(p3, desktop);
}

#create-post{
    width: 40px;
    height: 40px;
    background: $black-light;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;

    transition: 0.3s ease;

    &:hover{
        opacity: 1;
    }
}