.container-chat{
    max-width: $container-xl;
    margin: 0 auto;
    position: relative;
    background: transparent;
    


    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @include responsive(s){
        display: block;
    }

}

.container-chat-messages{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 0.45rem;
    justify-content: end;
    align-items: center;
    padding-bottom: 0.15rem;
    background: $black-fundo; 

}

.sending-container{
    width: 99%;
    background: $black-dark;
    
    border: 1px solid $gray-clean-border;
    padding: 0.15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-send-menssage{
    background: none;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }
}

input.message-field{
    color: $white-dark;
    padding: 0.65rem;
    border-radius: 5px;
    border: none;
    width: 90%;
    background: $black-dark;
    outline: 1px solid $purple-dark;
    font-size: 14px;

    &:focus{
        outline: 1px solid $purple-dark;
    }
}

.container-direct-messages{
    width: 99%;
    height: 100vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.header-profile-user-chat{
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    background: $black-corno;
    display: flex;
    align-items: center;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid $gray-clean-border;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.container-messages-roll{
    width: 100%;
    height: 100vh;
    background: $xupi;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(13, 12, 43, 0.3);
    overflow: auto;
    padding: 0.5%;

    &::-webkit-scrollbar-thumb{
        background-color: $purple-dark;
        border: none;
        border-radius: 4px;
    }
    &::-webkit-scrollbar{
        background-color: $black-blue;
        border: none;
    }
}

.message-recivied{
    width: 100%;
    display: flex;
    justify-content: start;
}

.message-balloon-recivied{
    width: 48%;
    padding: 1%;
    background: $black-silly;
    
    border-top-left-radius: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.message-sent{
    width: 100%;
    display: flex;
    justify-content: end;
}
.message-balloon-sent{
    width: 48%;
    padding: 1%;
    background: $purple-light;
    
    border-top-left-radius: 15px;
    border-top-right-radius: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


// ================================ NAVBAR CHATS
.nav-chats{
    left: 0;
    height: 100vh;
    background: $black-corno;

    
}

.nav-chats {
    
    padding-top: 1rem;
}

.container-direct-chat{
    width: 100%;
    padding: 0 0.25rem 0 0.25rem;
    border-top: 1px solid $gray-clean-border;
}

button.direct-chat{
    width: 100%;
    cursor: pointer;
    padding: 1rem 0 1rem 0;
    background: none;
    border: none;
    color: $gray-clean-border;
    
    
}

.img-users{
    width: 20px;
    height: 20px;
}

.nav-list-chats{
    width: 30%;
    height: 100vh;
    background: $black-corno;
    padding-top: 0.25rem;
    
    border-right: 1px solid $gray-clean-border;
    border-top: 1px solid $gray-clean-border;

    @include responsive(s){
        width: 100%;
    }
  }

  div.dropdown-content {
    max-height: 0;
    overflow: hidden;
    overflow-y: scroll;
    transition: max-height 1s ease-in-out;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0 0.25rem 0 0.25rem;

    &::-webkit-scrollbar {
        width: 1px; /* Largura da barra de rolagem no Chrome/Safari */
      }
  }

  .dropdown:hover .dropdown-content, .dropdown.active .dropdown-content {
    max-height: 200px; /* Ajuste a altura máxima conforme necessário */
  }

  .chat-cell-user{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .chat-user-name-and-message-prev{
    display: flex;
    flex-direction: column;
  }
  a.dropdown-item {
    padding: 10px 0 10px 4px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .chat-cell-user-profile-pic{
    width: 40px;
    height: 40px;
  }

  button.dropdown-item{
    padding: 0.10rem 5rem 0.25rem 0.25rem;
    margin-left: 2%;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: 0.5s ease;
    &:hover{
        border-radius: 5px;
        background: $purple-dark;
        opacity: 0.8;
    }

    i{
        transition: 0.5s;
    }
  }

  div.agroup-itens-button{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .dropdown-item:hover {
    background-color: $xupi-hover;
  }

  // ================================ FIM NAVBAR CHATS

  



