//colors
$purple: #591E9C;
$purple-normal: #82269e;
$purple-dark: #701f88;
$purple-light: #9c4fb4;

//Cor de Fundo
$smooth-background: #15151A;
$smooth-dark: #27272A;
$oi: #22222A;
$xupi: #2e2e30;
$xupi-hover: rgba(46, 46, 48, 0.7);
$dark-white: #B3B1B1;

// Border Color
$gray-clean-border: #4d5252;

// Neutral-colors
$black-normal: #171718;
$black-corno: #1B1B1C;
$black-lights: #1F1F20;
$black-dark: #00000e;
$black-light: #b7b7b7;
$black-dark-nuture: #000000;
$black-silly: #505089;

$white-normal: #121111;
$white-dark: #edeaef;
$white-light: #fefbff;
$white-since: #e7e5e9;

//Black Blue 
$black-blue: #060613;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// classes 

.black-light {
    color: $black-light; 
}

