header{
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    transition: .5s ease;  

    z-index: 800;
}

.active-header{
    background: rgba(28, 28, 28, 0.45);
    backdrop-filter: blur(19.5px);
}

// DESKTOP
.navbar-desktop{
    max-width: $container-xl;
    background: $smooth-dark;
    -webkit-box-shadow: 0px 13px 15px -8px rgba(0,0,0,0.33); 
box-shadow: 0px 13px 15px -8px rgba(0,0,0,0.33);
    height: 75px;
    margin: 0 auto;
    position: relative;
    padding: 10px 24px 10px 211px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-desktop-logo{
    cursor: pointer;
    z-index: 1100;
    left: 10px;
    position: absolute;
}

.navbar-desktop-item-1{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-desktop-item-2{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link-desktop{
    margin-left: 16px;
    display: inline-block;
    padding: 12px 16px;
}


///////////////////////  Side Menu - Menu Lateral Esquerdo  /////////////////////// 

.container-side-menu{
    display: flex;
    height: 100vh;
    position: sticky;
    top: 0;
}
.nav-left-side-menu{ 
  height: 100vh;
  width: 13rem;
  min-width: 6rem;
  background: $smooth-dark;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.47); 
box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.47);
border-top: 1px solid $gray-clean-border;
  padding: 40px 0px 0 0px;
  position: sticky;
  top: 0;
  z-index: 400;


  display: flex;
  flex-direction: column;
  align-items: center;

    
  transition: 0.7s ease;

  @include responsive(s){
    height: 50px;
    transform: translateY(0);
    bottom: 0;
    top: unset;
    align-items: center;
    padding-top: 0;
    max-width: none;
    width: 100vw;
    flex-direction: row;
    position: fixed;
  }
}

.div-nav-left-side-menu-link{
    width: 100%;
    margin-top: 0.35rem;
}
.nav-link-left-side-menu{
    display: inline-block;
    @include typeface-1(h3, desktop);
    position: relative;
    cursor: pointer;

    

    transition: transform 0.2s ease-in-out;

    p{
        display: none;
    }

    &:hover{
        transform: translateX(5px);

         
    }
    
    @include responsive(s){
        padding: 8px 16px 0 16px;
    }

    

}

///////////////////////  Menu Nofitificações  ///////////////////////

.menu-notificacoes{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0.85rem 0.60rem 0 1.3rem;
    border: 1px solid $gray-clean-border;
    z-index: 800;
    background: $black-corno;
    transition: left 0.7s ease; 
    left: -50%;

    @include responsive(s){
        width: 100%;
        left: 0;
        top: -100%;
        z-index: 1200;

        padding-top: 2rem;
    
    }

    .menu-notificacoes-head{
        width: 98%;
        display: flex;
        align-items: center;
        border-bottom: 4px solid $gray-clean-border;
        border-radius: 4px;
        padding-bottom: 2px;
    }

    .notification-novas{
        width: 43%;
        border-bottom: 1px solid $gray-clean-border;
    }
}

.menu-notifications-follower-cell{
    width: 100%;
    border-radius: 4px;
    background: $xupi;
    padding: 0.25rem;
    display: flex;
    position: relative;

    .img-user-notification{
        min-width: 40px;
        height: 40px;
    }

    .notification-info-cell{
        display: flex;
        flex-direction: column;
    }

    .notification-interactions{
        position: absolute;
        width: 100%;
        display: flex;
        top: 100%;

        button{
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    .notification-type{
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 113%;
        left: 96%;
    }
}

.close-notificacoes-mobile{
    position: absolute;
    top: 0.6%;
    left: 0.6%;
}

.menu-notificacoes.aberto {
    left: 170px;

    @include responsive(s){
        left: 0;
        top: 0;
    }
}


///////////////////////  Fim Menu Nofitificações  ///////////////////////


///////////////////////  Side Menu - Menu Lateral Direito  ///////////////////////

.right-side-menu {
    height: 100vh;
    max-width: 400px;
    min-width: 240px;
    padding: 1rem 2% 0 2%;
    
    width: 100%;
    
    transition: 0.7s ease;

    @include responsive(s){
        display: none;
    }

}
 

.top-languages-right-side-menu{
    
    min-width: 280px;
    width: 100%;
    height: 360px;

    background: $smooth-dark;
    overflow: hidden;
    border-radius: 0.50rem;
    border: 1px solid $gray-clean-border;
    box-shadow: 5px 4px 10px 10px rgba(0,0,0,0.54);


    @include responsive(s){
        display: none;
    }

    .top-languages-head{
        width: 100%;
        border-bottom: 1px solid $gray-clean-border;
        display: flex;
        align-items: center;
        
        
        padding: 1rem 0 0.75rem 1rem;
    }
 

    .top-languages-language-skill{
        width: 100%;
        height: 4rem;
        margin-top: 0.45rem;
        
        padding: 0.25rem 0.25rem 0.25rem 0.70rem;
        display: flex;
        flex-direction: row;
        
    
    
            .language-icon{
               max-width: 50px;
               
               height: 50px;
               border-radius: 60px;
               width: 100%; 
               border-radius: 4px;
               background-color: $black-normal;
            }
            .language-details{
                display: flex;
                margin-left: 0.30rem;
                padding-top: 0.15rem;
                flex-direction: column;
            }
    }


    .btn-centralizar{
        width: 100%;
        display: flex;
        justify-content: center;
        
        
        

        button {
            background: $black-normal;
            max-width: 10rem;
            width: 100%;
            padding: 1rem;
            margin: 0 auto;
            border: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            opacity: 0.9;
            display: flex;
            align-items: center;
            border-radius: 5px;

            &:hover{
                transform: scale(1.03);
                opacity: 1;
            }
        }
    }

   

}

