.post-container{
    width: 600px;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    cursor: default;

    /* From https://css.glass */
   background: $oi;
   
   @include responsive(s){
    min-width: 230px;
    width: auto;
}
   
}

.content-post.active {
    z-index: 2; /* Coloque a postagem ativa acima de outros elementos */
  }

.vazio{
    height: 400px;
    border: 1px solid purple;
    width: 300px;
}
.overlayed {
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    display: none;
    padding: 1rem 0 0 0;
    justify-content: center;
    align-items: center;

    cursor: default;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: 900; /* Para garantir que esteja sobre os outros elementos */

    
}

.profile-top-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
}

.profile-username{
    display: flex;
    flex-direction: column;
    position: relative;
}

.post-config {
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;

    i {
        transition: 0.3s ease-in-out;
    }

    i:hover {
        opacity: 0.7;
    }
}

.post-config-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    background: $black-blue;
    z-index: 1100;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    right: 15%;
    margin-top: 8px;
    border-radius: 4px;

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &:hover{
            background-color: $smooth-dark;
            opacity: 0.7;
        }
       
    }

    .alert:hover {
        background: rgb(60, 0, 0);
        opacity: 1;
    }

    i {
        display: block;
    }
}

.post-config-content.transitioning {
    transition: none;
}

.post-config.active .post-config-content {
    display: block;
    max-height: 200px;
    opacity: 1;
}

.post-config-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    transition: background 0.3s ease-in-out;

    &:hover {
        background: #333; // Adapte a cor de fundo ao seu gosto
    }
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

img.profile-pic-img{
    border-radius: 50%;
}

.container-content-post{
    width: 100%;
}

.content-post{
    height: 450px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid $gray-clean-border;
    cursor: pointer;
}

.post-interactions{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.like-heart-comment-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#like-heart{
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover{
        transform: scale(1.01);
    }

    .heart-liked{
        display: none;
        transform: scale(0);
        transition: transform 0.5s ease;
    }

    

    
    .heart-unliked{
        transition: transform 0.5s ease-in-out;
    }
}

#comment{
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    transition: 0.2s ease-in-out;

    &:hover{
        transform: scale(1.01);
    }
}

#share{
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    transition: 0.2s ease-in-out;
    margin-top: -22px;

    &:hover{
        transform: scale(1.01);
    }
}

.ContComentario{
    margin-right: -15px;
    margin-top: -2px;
    margin-bottom: 2px;
}

.ContCompartilhar{
    margin-left: 11px;
    margin-top: -1px;
    margin-bottom: 3px;
}

.post-description{
    display: flex;
    flex-direction: column;

    
}
.comentarios-k{
    width: 100%;
    border-bottom: 1px solid $gray-clean-border;
}
.post-comment-section{
    display: flex;
    flex-direction: column;

    
}

.post-commnet-profile-name{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.post-comment-cell{
    width: 100%;
    border-left: 3px solid $white-dark;
    background-image: linear-gradient(to right top, #1a1a1c, #1a1a1d, #1a1a1e, #1a1a1e, #1a1a1f);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    padding: 0.25rem 8px 0 0.25rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover{
        opacity: 0.8;
    }

    .post-comment-profile-pic{
        width: 35px;
        img{
            border-radius: 50%;
            
        }
    }
}


.input-comentario-align{
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .profile-pic{ 
        position: absolute;
        width: 38px;
        height: 35px;
        margin: 1% 0 0 1%;
        z-index: 800;
    }
}

#input-comentario {
    width: 100%;
    height: 5.5rem;
    border: none;
    background: transparent;
    outline: none;
    border-radius: 4px;
    padding: 5px 12px 5px 9.5%;
    overflow: hidden;
    resize: none;
    color: $white-dark;
    position: relative;
    transition: 1s ease;

    &:focus{
        background: $black-lights;
    }
}


.input-comentario-input{
    padding: 8px 16px 8px 8px;
}





.post-title-subject{
    display: flex;
    flex-direction: column;
}


// ================ Criar Post =============================

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .container-create-post {
    max-width: 550px;
    width: 100%;
    position: relative;     
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transform: translate(-50%, -50%);
    background-color: $smooth-dark;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    
    z-index: 1100;

    .flex-start{
        width: 95%;
    }
    .flex-end{
        width: 95%;
    }
  }

  .head-create-post{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.65rem 0;
    background: $oi;
    opacity: 1;
    box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.75);

    
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  #image-preview-container {
    width: 15%;
    height: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $oi;
    position: relative;

    label{
        background: transparent;
        border: none;
        position: absolute;
        cursor: pointer;
        width: 24px;
        height: 26px;
        right: -34%;
        bottom: -1px;
        display: flex;
        align-items: end;
        display: none;
    }
  }
  #image-preview {
    width: 100%;
    height: 100%;
    display: none;
  }
  
.publish-button{
    padding: 6px 12px;
    background: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
    background: $purple-dark;
    
    

    &:hover{
        background: rgba($purple-dark, 0.9);
    }
}

#close-create-post{
    z-index: 4;
    position: absolute;
    right: -2%;
    top: -10%;
    background: none;
    border: none;
    cursor: pointer;
}
.description-align{
    width: 95%;
    display: flex;
    justify-content: flex-start;

    .profile-pic{
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 1% 0 0 1%;
        z-index: 800;
    }
}
#description{
    
    width: 100%;
    height: 5.5rem;
    border: none;
    background: transparent;
    outline: none;
    border-radius: 4px;
    padding: 5px 12px 5px 9.5%;
    overflow: hidden;
    resize: none;
    color: $white-dark;
    position: relative;
    transition: 1s ease;

    &:focus{
        background: $oi;
    }
}
  


.elements-create-post{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray-clean-border;
}

#image-upload{
    display: none;
}
.custom-file-input {
    display: inline-block;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 30px;
    height: 32px;
    opacity: 0.3;
}
  
  .custom-file-input:hover {
    opacity: 1;
  }

.btn-voltar-postagem{
    position: fixed;
    z-index: 800;
    margin-left: -8vw;

    padding: 11px 7px 11px 7px;

    background-color: $purple;
    border-radius: 50%;
}







